{% extends 'main/base.html' %}
{% load static %}
{% load poll_extras %}
{% block main_head %}
<style>
        #header {

          height: 100px;
          background: url({{request.user.profile.cover_image.url}}?auto=compress&cs=tinysrgb&dpr=1&w=500);
          background-size: cover;
          background-position: center center;
          -webkit-transition: all .08s linear;
          transition: all .08s linear;
        }
    </style>
{% endblock main_head %}

{% block main_body %}
<div class="row">
  <div class="col-md-3 mb-2">
    <div class="brand">
      <img src="{% static 'main/img/logo.png' %}" class="logo w-25">
    </div>
    <div class="w-100 mt-1">
      <div id="header"></div>
      <div id="profile">
        <div class="image">
          <img src="{{request.user.profile.profile_pic.url}}" alt="" />
        </div>
        <div class="name">
          {{request.user.get_full_name}}
        </div>
        <div class="nickname">
          @{{request.user.username}}
        </div>
        <div class="bottom">
          <span class="following" onclick="getFollowings()">
            <span class="count" id="following_count">{{user.profile.following.count}}</span>
            following
          </span>
          <span class="followers" onclick="getFollowers()">
            <span class="count" id="followers_count">{{user.profile.followers.count}}</span>
            followers
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">

    <div class="well well-sm well-social-post">
      <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <ul class="list-inline" id=''>
          <li class='list-inline-item font-weight-bold'><a href='#'>Add Post</a></li>
          <li class="list-inline-item"> <input type="file" accept="image/*"
              name="post_image" id="add_post_image" style="visibility: hidden;"></li>
        </ul>
        <textarea class="form-control" placeholder="What's in your mind?"
          name="text" required></textarea>
        <ul class='list-inline post-actions display-inline'>
          <li class="list-inline-item"><a
              onclick="$('#add_post_image').click()"><span class="fa fa-camera"></span></a></li>
          <li class='pull-right list-inline-item'>
            <button type="submit" class='btn-sm mainbtn pb-0 pt-0'>Post</button>
          </li>
        </ul>
      </form>
    </div>
    <hr>
    {% for post in posts %}
    <div class="card mb-3" id="post{{post.id}}">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <img class="rounded-circle" width="45" height="45"
                src="{{post.user.profile.profile_pic.url}}" alt="">
            </div>
            <div class="ml-2">
              <div class="h5 m-0"><a href="{% url 'profile' post.user.username %}">{{post.user.get_full_name}}</a></div>
              <div class="text-muted" style="font-size: 0.8rem;">{{post.user.username}}</div>
            </div>
          </div>
          <div>
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button"
                id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-ellipsis-h"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right"
                aria-labelledby="gedf-drop1">
                <!-- <div class="h6 dropdown-header">Configuration</div> -->
                {% if post.user == request.user %}
                <!-- <a class="dropdown-item" >Edit</a> -->
                <a class="dropdown-item" onclick="Post('delete',
                  '{{post.id}}')">Delete</a>
                {% endif %}
                <!-- <a class="dropdown-item">Hide</a> -->
                <a class="dropdown-item">Report</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>
          {{post.created_at|timesince}} ago</div>

        <p class="card-text">
          {{post.text}}
        </p>
        {% if post.picture %}
        <img src="{{post.picture.url}}" class="w-100 img-fluid">
        {% endif %}
        <small class="text-muted pull-right">
          <b class="likes">{{post.likes.count}}</b> Likes &nbsp;
          <b class="dislikes">{{post.dislikes.count}}</b> Dislikes
        </small>
      </div>

      <div class="card-footer d-flex justify-content-center">
        <p
          {% if request.user in post.likes.all %}
          class="card-link m-auto like_active click" onclick="Post('like-back',
          '{{post.id}}')"
          {% else %}
          class="card-link m-auto click" onclick="Post('like', '{{post.id}}')"
          {% endif %}>

          <i class="fa fa-gittip"></i> Like</p>


        <p
          {% if request.user in post.dislikes.all %}
          class="card-link m-auto like_active click"
          onclick="Post('dislike-back', '{{post.id}}')"
          {% else %}
          class="card-link m-auto click" onclick="Post('dislike',
          '{{post.id}}')"
          {% endif %}><i class="fa fa-thumbs-down"></i> Dislike</p>

        <a class="card-link m-auto click" data-toggle="collapse"
          data-target="#post{{post.id}}comments" aria-expanded="false"
          aria-controls="post{{post.id}}comments"><i class="fa fa-comment"></i>
          Comment</a>
      </div>
      <div class="collapse" id="post{{post.id}}comments">
        <div class="card" style="border:none">
          <div class="card-body" id="comments_of_post{{post.id}}" style="max-height: 300px; overflow-y: scroll;
            background-color: #f7f7f7;">
            {% for comment in post.id|comments %}
            <div class="media">
              <img src="{{comment.0.user.profile.profile_pic.url}}" width="40" height="40" alt="..." class="img-thumbnail rounded mr-3">
              <div class="media-body">
                <b>{{comment.0.user.get_full_name}}</b>
                <p style="font-size: 13px;">{{comment.0.comm}}</p>
                <div id="comment{{comment.0.id}}">
                  <button class="btn-sm mainbtn"  
                  onclick="CommentReplyForm('comment{{comment.0.id}}',
                   '{{comment.0.id}}', 
                   '{{request.user.profile.profile_pic.url}}')">Reply</button>
                </div>
                <div id="comment{{comment.0.id}}replys">
                {% for subcomment in comment.1 %}
                <div class="media mt-3">
                  <a class="mr-3" href="#">
                    <img src="{{subcomment.user.profile.profile_pic.url}}" width="40" height="40" alt="..." class="img-thumbnail rounded">
                  </a>
                  <div class="media-body">
                    <b>{{subcomment.user.get_full_name}}</b>
                    <p style="font-size: 13px;">{{subcomment.comm}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <form class="card-footer p-0 m-0 input-group" style="border:none;">
            <div class="input-group-prepend rounded-0">
              <span class="input-group-text" style="border-radius:0">
                <img class="rounded-circle" width="20" height="20"
                  src="{{post.user.profile.profile_pic.url}}" alt="">
              </span>
            </div>
            <input type="text" class="form-control" aria-label="Write a Comment"
              placeholder="Write a Comment" id="comment_text_of_{{post.id}}">
            <div class="input-group-append">
              <button class="input-group-text btn" type="button" 
              onclick="addComment('{{post.id}}',
               'comment_text_of_{{post.id}}', 'comments_of_post{{post.id}}')"><i class="fa fa-paper-plane"
                  aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}


    <div class="float-right">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if posts.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{posts.previous_page_number}}"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="#">{{posts.number}}</a></li>
          {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{posts.next_page_number}}"
              aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>


  </div>
  <div class="col-md-3">
    <h5>Peoples may you know</h5>
    {% for usr in non_followed_user %}
    <div class="card mb-1" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-3 text-center align-items-center d-flex" style="">
          <a href="{% url 'profile' usr %}" class="m-auto"><img
              src="{{usr.profile.profile_pic.url}}" class="card-img m-auto"
              style="width: 49px" alt="..."></a>
        </div>
        <div class="col-9">
          <div class="card-body p-0 mb-1 mt-1">
            <a href="{% url 'profile' usr %}"><b class="card-title">{{usr.get_full_name}}</b></a><br>
            <button class="followbtn" onclick="Follow(this, '{{usr}}')">
              {% if usr in request.user.profile.followers.all %}
              Follow Back
              {% else %}
              Follow
              {% endif %}
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock main_body %}