
{% extends 'main/base.html'%}

{% block main_head %}

{% endblock main_head %}

{% block main_body %}
{% load crispy_forms_tags %}
{% load static %}
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">

                       

                        {% if otp %}
                          <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom display">
                                    <h3 class="float-left">Verify Your Email</h3>

                                <img src="{% static 'main/img/logo.png' %}" class="logo float-right pt-1" width="25">
                                </legend>
                                <input type="hidden" name="usr" value="{{usr.username}}">
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">OTP</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP" aria-describedby="basic-addon1" name = 'otp'>
                                </div>
                                
                            </fieldset>
                            <div class="form-grounp">
                                <button class="btn mainbtn" type="submit">Verify</button>
                                <small class="float-right text-muted"><i><a href="#" class="text-dark" 
                                  onclick="ReSendOTP('{{usr.username}}', 'resendOTPmess')"><i id="resendOTPmess">Resend</i> OTP</a></small>

                            </div>

                        </form>
                       {% else %}              
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom display">
                                    <h3 class="float-left">Login</h3>

                                <img src="{% static 'main/img/logo.png' %}" class="logo float-right pt-1" width="25">
                                </legend>

                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-grounp">
                                <button class="btn mainbtn" type="submit">Log In</button>
                                <small class="float-right text-muted"><a href="{% url 'password_reset' %}" class="text-dark"> Forgotten Password?</a></small>

                            </div>

                        </form>
                        {% endif %}
               <br>
           </div>
           <div class="col-md">
           </div>
       </div>
   

{% endblock main_body %}
